.moneybag {
    height: 100px;
    width: 200px;
    padding-left: 0px;
   
}
 nav {
    display: flex;
 }

 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
 }

 header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937 ;
 }

 li {
    padding: 5px;
    
 }

 a {
    text-decoration: none;
    color: #f9faf8;
 }

 img.thai {
   height: 300px;
   width: 300px;
   margin-right: 200px;
 }

main { 
   display: flex;
   justify-content: space-between;
   background-color: #1f2937;
}

h1 {
   color: #f9faf8;
}

h1.alttext {
   color: black;
text-align: center;
}

.florida {
   height: 150px;
   width: 150px;
}

.NZ {
   height: 150px;
   width: 150px;
}

.NY {
   height: 150px;
   width: 150px;
}

.thailand {
   height: 150px;
   width: 150px;
}

.vacation {
   display: flex;
   flex-direction: row;
   justify-content: center; 
   gap: 40px;
}


* {
   .roboto-light 
      font-family: "Roboto", system-ui;
      font-weight: 300;
      font-style: normal;
    }


    .lastquote {
      color: black;
      text-align: center;
      font-style: italic;
    }

.quote {
   background-color: #e5e7eb;
}


.last-signup {
   display: flex;
   justify-content: space-around;
}
